<!DOCTYPE html>
<html class="full" lang="en">
  <head>
    <% include partials/_head %>
    <link href="/stylesheets/home.css" rel="stylesheet">

  </head>
  <body>

    <% include partials/_nav %>


      <div class="container">


      <% var image_data = data.images;
         var like_data = data.likes %>
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Home Page
                    <small>All Images</small>
                </h1>
            </div>
        </div>


         <% var row_count = 0; var image_count = -3; %>
          <%for(var j=row_count; j<image_data.length; j++) { %>
          <div class="row">
          <% var count = 0;
             image_count +=3 %>
          <% for(var i = image_count; i<image_data.length; i++) {
            if (count < 3) { count+=1  %>

            <div class="col-md-4 portfolio-item">
                        <h3>
                            <a href="/images/<%=image_data[i].id%>"><%=image_data[i].title%></a>
                        </h3>
                        <div class='like'>LIKES: <%= like_data[i].likes %> </div>
                        <div> Created by <a href="/users/<%=image_data[i].user_id%>"><%=image_data[i].username%><a></div>

                        <a href="/images/<%=image_data[i].id%>">
                            <div class="home_images">
                            <img class="img-responsive" src="<%=image_data[i].bucket_url%>" alt="No Image">
                            </div>
                        </a>
            </div>
        <% }else{  }}%>
      </div>
        <% } %>


    </div>

   <% include partials/_footer.ejs %>


</html>
