<!DOCTYPE html>
<html>
  <head>
    <% include partials/_head %>
    <link href="/stylesheets/home.css" rel="stylesheet">

  </head>
  <body>

    <% include partials/_nav %>

      <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Home Page
                    <small>All Images</small>
                </h1>
            </div>
        </div>


         <% var row_count = 0; var image_count = -3; %>
          <%for(var j=row_count; j<3; j++) { %>
          <div class="row">
          <% var count = 0;
             image_count +=3 %>
          <% for(var i = image_count; i<data.length; i++) {
            if (count < 3) { count+=1  %>

            <div class="col-md-4 portfolio-item">
                        <h3>
                            <a href="/images/<%=data[i].id%>"><%=data[i].title%></a>
                        </h3>
                        <p> Created by <a href="/users/<%=data[i].user_id%>"><%=data[i].username%><a></p>
                        <a href="/images/<%=data[i].id%>">
                            <img class="img-responsive" src="<%=data[i].bucket_url%>" alt="No Image">
                        </a>

            </div>
        <% }else{  }}%>
      </div>
        <% } %>


    </div>

   <% include partials/_footer.ejs %>


</html>
