<!DOCTYPE html>
<html>
      <% include partials/_head %>
  <body>
  <% include partials/_nav %>



   <div class="container">

        <div class="row">
           <div class="col-lg-12">
                <h1 class="page-header"><%= data[0].username %>'s Images </h1>
            </div>
          <% for(var i=0; i<data.length; i++) { %>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href href="/images/<%=data[i].id%>"><h3><%=data[i].title%></a></h3>
             <a class="thumbnail" href="/images/<%=data[i].id%>"><img class"img-responsive" src="<%= data[i].bucket_url %>" alt="No Image">
             <a/>
          </div>
          <% } %>
      </div>
    </div>
    <% include partials/_footer.ejs %>
  </body>
</html>
